.register_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.register_leftSide {
  min-width: 20rem;
  height: 100vh;
  background-color: #00b8a9;
}
.register_rightSide {
  width: 100%;
  background-color: #ffffff;
}
.logo {
  width: 90%;
  position: absolute;
  z-index: 2;
}
.player {
  width: 350px;
  position: absolute;
  z-index: 2;
  top: 138px;
  left: 0px;
}
.register_fromField {
  display: flex;
  flex-direction: column;
}
.register_title {
  margin-left: 15rem;
  margin-right: 15rem;
}
.register_fromField h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f6416c;
  padding-bottom: 24px;
  display: block;
}
.register_fromField h5 {
  color: #00b8a9;
  font-size: 0.8rem;
  font-weight: 600;
  padding-bottom: 24px;
  display: block;
}
.textField {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 15rem;
  margin-right: 15rem;
}
.register_submitBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  gap: 24px;
  text-align: center;
}

.register_button {
  font-size: 1rem;
  padding: 10px 12px;
  min-width: 6rem;
  width: 24rem;
  border-radius: 21px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  background-color: #00b8a9;
  border: 0;
  outline: none;
  font-style: italic;
  cursor: pointer;
  letter-spacing: 1px;
}
.signupBtn {
  font-size: 0.8rem;
  color: #7b8988;
  font-weight: 600;
}
.signupBtn span {
  color: #f6416c;
  cursor: pointer;
}

.register_basketBall {
  position: absolute;
  width: 170px;
  right: 0;
  bottom: -70px;
  z-index: 2;
}

.register-rectangle-Image {
  width: 450px;
  position: absolute;
  top: -170px;
  left: -150px;
}
.register-rectangle-Image-2 {
  width: 450px;
  position: absolute;
  bottom: -270px;
  right: -200px;
  transform: rotate(180deg);
}
