.rest-password_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.rest-password_leftSide {
  min-width: 20rem;
  height: 100vh;
  background-color: #00b8a9;
}
.rest-password_rightSide {
  width: 100%;
  background-color: #ffffff;
}
.logo {
  width: 90%;
  position: absolute;
  z-index: 2;
}
.player {
  width: 350px;
  position: absolute;
  z-index: 2;
  top: 138px;
  left: 0px;
}
.rest-password_fromField {
  display: flex;
  flex-direction: column;
}
.rest-password_title {
  margin-left: 15rem;
  margin-right: 15rem;
}
.rest-password_fromField h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f6416c;
  padding-bottom: 24px;
  display: block;
}
.rest-password_fromField h5 {
  color: #00b8a9;
  font-size: 0.8rem;
  font-weight: 600;
  padding-bottom: 24px;
  display: block;
}
.textField {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 15rem;
  margin-right: 15rem;
}
.rest-password_submitBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  gap: 24px;
  text-align: center;
}

.signupBtn {
  font-size: 0.8rem;
  color: #7b8988;
  font-weight: 600;
}
.signupBtn span {
  color: #f6416c;
  cursor: pointer;
}
.rest-pass-resetBtn {
  width: 100%;
  font-size: 18px;
  font-style: italic;
  text-transform: capitalize;
  color: #f6416c;
}
.rest-pass-resetBtn span {
  color: #00b8a9;
  cursor: pointer;
  text-transform: capitalize;
}
.rest_pass_basketBall {
  position: absolute;
  width: 170px;
  right: 0;
  bottom: -160px;
  z-index: 2;
}

.rest-pss-rectangle-Image {
  width: 450px;
  position: absolute;
  top: -170px;
  left: -150px;
}
.rest-pass-rectangle-Image-2 {
  width: 450px;
  position: absolute;
  bottom: -360px;
  right: -200px;
  transform: rotate(180deg);
}
