input[type="radio"]:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #f8f3d4;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #f8f3d4;
}

input[type="radio"]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #00b8a9;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #00b8a9;
}
