.headerContainer {
  height: 2rem;
  background-color: #00b8a9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 4rem; */
  padding-right: 16px;
  position: relative;
}
.headerLogo {
  position: absolute;
  top: -69px;
  left: -50px;
  width: 350px;
}
.haederMenu li {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
}
